
#wrapper{
    height: 100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective: 10px;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform:translatez(-20px) scale(3);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

h1{
    position: absolute;
    font-size: 10rem;
    top: 5rem;
    left:50%;
    transform: translateX(-50%);
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section{
    background-color: #fa8072;
    color: white;
    padding: 5rem 0;
}

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg1{
    background-image: url(https://media.istockphoto.com/id/1201142336/photo/donate-writes-over-red-heart-shapes-hanging-over-red-background.jpg?b=1&s=170667a&w=0&k=20&c=F3q6lPF71FaG-WhK4J0FlYBSms_L4Vy4Q8kPbX0x7lc=);
}

.bg2{
    background-image: url(https://media.istockphoto.com/id/1252380604/photo/note-paper-with-blood-donation-concept-on-red-background.jpg?b=1&s=170667a&w=0&k=20&c=HJpGKpSF3ULIBECqzb6vr2zT5dx-dhbGmbOoI5XsRxo=);
}

.bg3{
    background-image: url(https://media.istockphoto.com/id/171149326/photo/blood-donation-concept.jpg?s=612x612&w=0&k=20&c=HlLhKlUjfuELJ-KZxqAQEFSMOKrCmWnBhX28iPqsSLg=);
}

.bg4{
    background-image: url(https://media.istockphoto.com/id/516018583/photo/donating-blood.jpg?s=612x612&w=0&k=20&c=45cwx1mJBeMs7QWgTV3odEYMmyjHUtSvWCPh315bGvA=);
}

.bg5{
    background-image: url(https://media.istockphoto.com/id/1208414429/photo/blood-cell.jpg?s=612x612&w=0&k=20&c=jwZcPZlVNjpuCXS_oqkvPG5HP5phRj7gKAjvHFU7sCQ=);
}

.bg{
    position: relative;
    width: 100%;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
}